<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
		backupGlobals="false"
		colors="true"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnError="false"
		stopOnFailure="false"
		stopOnIncomplete="false"
		stopOnSkipped="false"
		testdox="true">
	<testsuites>
		<testsuite name="boilerplate">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
			<exclude>
				<directory suffix=".php">./src/Database</directory>
				<directory suffix=".php">./src/Views</directory>
   				<directory suffix=".php">./src/Config</directory>
 			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="build/logs/html"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="coverage-php" target="build/logs/coverage.serialized"/>
		<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
		<log type="testdox-html" target="build/logs/testdox.html"/>
		<log type="testdox-text" target="build/logs/testdox.txt"/>
		<log type="junit" target="build/logs/logfile.xml"/>
	</logging>

	<php>
		<server name="app.baseURL" value="http://localhost:8080"/>
		<const name="HOMEPATH" value="./"/>
		<const name="CONFIGPATH" value="./vendor/codeigniter4/framework/app/Config/"/>
		<const name="PUBLICPATH" value="./vendor/codeigniter4/framework/public/"/>
		<env name="database.tests.database" value=":memory:"/>
		<env name="database.tests.DBDriver" value="SQLite3"/>
	</php>
</phpunit>